<!DOCTYPE html>
<html>
    <head>
        <title>A Boy and his Box</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="shortcut icon" href="/assets/pl.png">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/"><img src="/assets/icon.png">Home</a></li><li>
                    <a href="/game">Game</a></li><li>                        
                    <a href="/credits">About</a></li><li>
                    <a href="https://twitter.com/BoyandBox" id="twitter"><img src="/assets/twitter.jpg"></a></li>
            </ul>
        </nav>
        <div id="main">
            <h1>A Boy and his Box.</h1>
            <div id="credits">
                <p>A Game by Gustav Almström.</p>
                <p>With music by Fridolf Tofft Glans.</p>
            </div>
            <h3>This game is still in development and we would love to get your feedback.</h3>
            <p>You can messege us at aboyandhisbox.game@gmail.com and follow us on twitter <a href="https://twitter.com/BoyandBox">@BoyandBox</a>
                where we post major updates on the game.
            </p>
        </div>
    </body>
</html>