<!DOCTYPE html>
<html>
    <head>
        <title>A Boy and his Box</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="shortcut icon" href="/assets/pl.png">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/"><img src="/assets/icon.png">Home</a></li><li>
                    <a href="/game">Game</a></li><li>      
                    <a href="https://twitter.com/BoyandBox" id="twitter"><img src="/assets/twitter.jpg"></a></li>
            </ul>
        </nav>
        <div id="main">
            <h1>This site is only for a older version of abb. Play the newest version at <a href="https://boyandbox.herokuapp.com">https://boyandbox.herokuapp.com</a></h1>
        </div>
    </body>
</html>
