<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="./styles.css">
		<link rel="shorcut icon" href="./assets/icon.png">
	</head>
	<body class="black-bg">

		<div class="page">

			<p class="white-bg black header">Asheepun</p>

			<p class="white text">I'm a swedish indiedev currently working on a game about a boy and his teleporting box.</p>

			<img class="icon" src="/assets/boyandbox_icon.png">

			<a href="https://boyandbox.itch.io/boyandbox" target="_blank"><p class="white text link">Try the Demo!</p></a>
			<p class="white text-small">(if u wanna)</p>
		</div>
	</body>
</html>
