<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="./styles.css">
		<link rel="shorcut icon" href="./assets/icon.png">
	</head>
	<body class="black-bg">
		<div class="page">
			<a href="/"><p class="white-bg black header">Asheepun</p></a>
			<ul class="white text-small link-list">
				<li class="link"><a href="./old_projects/sheep/index.html">SheepSheep</a></li>
				<li class="link"><a href="./old_projects/abb/index.html">BoyandBox-0.1</a></li>
				<li class="link"><a href="./old_projects/aboyandhisbox/index.html">ABoyandhisBox<a></li>
			</ul>
		</div>
	</body>
</html>
